CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE "Usuarios" (
    "Id" uuid NOT NULL,
    "Nome" text NULL,
    "Email" text NULL,
    "Password" text NULL,
    "Role" text NULL,
    "Cpf" text NULL,
    "ServicoId" uuid NOT NULL,
    "AlexaUserId" text NULL,
    "UtilizaSuporteAlexa" boolean NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    CONSTRAINT "PK_Usuarios" PRIMARY KEY ("Id")
);

CREATE TABLE "Servicos" (
    "Id" uuid NOT NULL,
    "TipoEstampa" integer NOT NULL,
    "Tecnica" integer NOT NULL,
    "TecnicaEstamparia" integer NOT NULL,
    "Nicho" integer NOT NULL,
    "TipoRapport" integer NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    "Active" boolean NOT NULL,
    "Imagens" text[] NULL,
    "PrestadorId" uuid NOT NULL,
    CONSTRAINT "PK_Servicos" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Servicos_Usuarios_PrestadorId" FOREIGN KEY ("PrestadorId") REFERENCES "Usuarios" ("Id") ON DELETE CASCADE
);

CREATE TABLE "Solicitacoes" (
    "Id" uuid NOT NULL,
    "Status" integer NOT NULL,
    "Codigo" bigint NOT NULL GENERATED BY DEFAULT AS IDENTITY,
    "Aceita" boolean NOT NULL,
    "DetalhesId" uuid NOT NULL,
    "PropostaId" uuid NULL,
    "TomadorId" uuid NOT NULL,
    "ServicoId" uuid NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    CONSTRAINT "PK_Solicitacoes" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Solicitacoes_Servicos_ServicoId" FOREIGN KEY ("ServicoId") REFERENCES "Servicos" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_Solicitacoes_Usuarios_TomadorId" FOREIGN KEY ("TomadorId") REFERENCES "Usuarios" ("Id") ON DELETE CASCADE
);

CREATE TABLE "DetalhesSolicitacoes" (
    "Id" uuid NOT NULL,
    "Imagens" text[] NULL,
    "TipoEstampa" integer NOT NULL,
    "Tecnica" integer NOT NULL,
    "TecnicaEstamparia" integer NOT NULL,
    "Nicho" integer NOT NULL,
    "TipoRapport" integer NOT NULL,
    "Observacoes" text NULL,
    "SolicitacaoId" uuid NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    CONSTRAINT "PK_DetalhesSolicitacoes" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_DetalhesSolicitacoes_Solicitacoes_SolicitacaoId" FOREIGN KEY ("SolicitacaoId") REFERENCES "Solicitacoes" ("Id") ON DELETE CASCADE
);

CREATE TABLE "MensagensSolicitacao" (
    "Id" uuid NOT NULL,
    "EmissorId" uuid NOT NULL,
    "ReceptorId" uuid NOT NULL,
    "Conteudo" text NULL,
    "SolicitacaoId" uuid NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    CONSTRAINT "PK_MensagensSolicitacao" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_MensagensSolicitacao_Solicitacoes_SolicitacaoId" FOREIGN KEY ("SolicitacaoId") REFERENCES "Solicitacoes" ("Id") ON DELETE CASCADE
);

CREATE TABLE "Propostas" (
    "Id" uuid NOT NULL,
    "Valor" double precision NOT NULL,
    "Aceita" boolean NOT NULL,
    "SolicitacaoId" uuid NOT NULL,
    "CreatedAt" timestamp without time zone NOT NULL,
    CONSTRAINT "PK_Propostas" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Propostas_Solicitacoes_SolicitacaoId" FOREIGN KEY ("SolicitacaoId") REFERENCES "Solicitacoes" ("Id") ON DELETE CASCADE
);

CREATE UNIQUE INDEX "IX_DetalhesSolicitacoes_SolicitacaoId" ON "DetalhesSolicitacoes" ("SolicitacaoId");

CREATE INDEX "IX_MensagensSolicitacao_SolicitacaoId" ON "MensagensSolicitacao" ("SolicitacaoId");

CREATE UNIQUE INDEX "IX_Propostas_SolicitacaoId" ON "Propostas" ("SolicitacaoId");

CREATE UNIQUE INDEX "IX_Servicos_PrestadorId" ON "Servicos" ("PrestadorId");

CREATE INDEX "IX_Solicitacoes_ServicoId" ON "Solicitacoes" ("ServicoId");

CREATE INDEX "IX_Solicitacoes_TomadorId" ON "Solicitacoes" ("TomadorId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20210610185407_initial-3', '5.0.6');

COMMIT;


